<div id="parameters">
	<div id="chooseRows">
    	<label for="rows">Number of rows</label><br>
		<select id="rows">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<button id="submitRows">Gimme rows!</button>
	</div>
	
	<div id="panelContainer"></div>

	<div class="tab-content">
		<p><strong>Backgrounds!</strong></p>
		<div id="scenemenu">
			<div class="up">
				<div class="draggable"><img class="scene" src="chocolate-papel-plata-dulces-tentacion.jpg"></div>
				<div class="draggable"><img class="scene" src="fotografia-gafas-sol-playa-moda.jpg"></div>
				<div class="draggable"><img class="scene" src="gusano-robot-fantasia.jpg"></div>
			</div>
			<div class="med">
				<div class="draggable"><img class="scene" src="monedas-cobre-mesa.jpg"></div>
				<div class="draggable"><img class="scene" src="montaña-rocosa-clima-templado.jpg"></div>
				<div class="draggable"><img class="scene" src="mujer-rostro-woman-lila-grunge.jpg"></div>
			</div>
			<div class="down">
				<div class="draggable"><img class="scene" src="portatil-laptop-perfil-informatica.jpg"></div>
				<div class="draggable"><img class="scene" src="sudadera-fashion-25-numero-suerte.jpg"></div>
				<div class="draggable"><img class="scene" src="viaje-volksvagen-furgoneta-hippie.jpg"></div>
			</div>		
		</div>

		<p><strong>Characters!</strong></p>
		<div id="charactermenu">
			<div class="up">
				<div class="draggable"><img class="character" src="215px-Hans_Moleman.png"></div>
				<div class="draggable"><img class="character" src="220px-Bender_Rodriguez.png"></div>
				<div class="draggable"><img class="character" src="Disco_Stu.png"></div>
			</div>
			<div class="med">
				<div class="draggable"><img class="character" src="Dr._John_A._Zoidberg.png"></div>
				<div class="draggable"><img class="character" src="Lieutenant_Kif_Kroker.png"></div>
				<div class="draggable"><img class="character" src="Mom.png"></div>
			</div>
			<div class="down">
				<div class="draggable"><img class="character" src="PhilipJ.Fry.png"></div>
				<div class="draggable"><img class="character" src="Turanga_Leela.png"></div>
				<div class="draggable"><img class="character" src="Zapp_Brannigan.png"></div>
			</div>		
		</div>
	</div>

</div>

<div id="page">
	<input class="title" placeholder="Write your title here">
	<div id="pageContent"></div>
</div>