<div id="parameters">
	<div id="chooseRows">
    	<label for="rows">Number of rows</label><br>
		<select id="rows">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<button id="submitRows">Gimme rows!</button>
	</div>
	<div id="panelContainer"></div>

	<div class="tab-content">
		<div id="scenemenu">
			
				<div id="up">
					<div><img class="scene" src="chocolate-papel-plata-dulces-tentacion.jpg"></div>
					<div><img class="scene" src="fotografia-gafas-sol-playa-moda.jpg"></div>
					<div><img class="scene" src="gusano-robot-fantasia.jpg"></div>
				</div>
				<div id="med">
					<div><img class="scene" src="monedas-cobre-mesa.jpg"></div>
					<div><img class="scene" src="montaña-rocosa-clima-templado.jpg"></div>
					<div><img class="scene" src="mujer-rostro-woman-lila-grunge.jpg"></div>
				</div>
				<div id="down">
					<div><img class="scene" src="portatil-laptop-perfil-informatica.jpg"></div>
					<div><img class="scene" src="sudadera-fashion-25-numero-suerte.jpg"></div>
					<div><img class="scene" src="viaje-volksvagen-furgoneta-hippie.jpg"></div>
				</div>
			
		</select>
	</div>
</div>

<div id="page">
	<input class="title" placeholder="Title">
	<div id="pageContent"></div>
</div>