<header><h1>COMICFY!*</h1></header>

<div class="container">
	<div class="row">
		<div id="left" class="col-centered col-lg-4 col-md-3 col-sm-6 col-xs-12">
			<div id="chooseRows">
		    	<label for="rows">Number of rows</label><br>
				<select id="rows" class="form-control">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select><br>
				<button id="submitRows" class="btn btn-primary">Gimme rows!</button>
			</div>
			
			<div id="panelContainer"></div>

			<br><img id="remove" src="Privacy-Eraser-Free-logo.png" />
		</div>

		<div id="page" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<input class="title" placeholder="Write your title here">
			<div id="pageContent"></div>
		</div>

		<div id="right" class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
			<div class="wrapper">
				<ul class="tabs"> 
					<li class="btn-seccion-menu active">
							<div><img class="scene-btn" src="landscape-photography-1.jpg"></div>
					</li>
					<li class="btn-seccion-menu">
							<div><img class="scene-btn" src="Popular-Disney-Character-Anatomy-by-Alessandro-Conti-0.jpg"></div>
					</li>
					<li class="btn-seccion-menu">
							<div><img class="scene-btn" src="blank_speech_bubble_right.png"></div>
					</li>
				</ul>
				<ul class="tab__content">	
					<li class="active">
						<div id="scenemenu">
							<div class="up center-block">
								<div class="draggable"><img class="scene" src="chocolate-papel-plata-dulces-tentacion.jpg"></div>
								<div class="draggable"><img class="scene" src="fotografia-gafas-sol-playa-moda.jpg"></div>
								<div class="draggable"><img class="scene" src="gusano-robot-fantasia.jpg"></div>
							</div>
							<div class="med center-block">
								<div class="draggable"><img class="scene" src="monedas-cobre-mesa.jpg"></div>
								<div class="draggable"><img class="scene" src="montaña-rocosa-clima-templado.jpg"></div>
								<div class="draggable"><img class="scene" src="mujer-rostro-woman-lila-grunge.jpg"></div>
							</div>
							<div class="down center-block">
								<div class="draggable"><img class="scene" src="portatil-laptop-perfil-informatica.jpg"></div>
								<div class="draggable"><img class="scene" src="sudadera-fashion-25-numero-suerte.jpg"></div>
								<div class="draggable"><img class="scene" src="viaje-volksvagen-furgoneta-hippie.jpg"></div>
							</div>		
						</div>
					</li>
					<li>
						<div id="charactermenu">
							<div class="up">
								<div class="draggable"><img class="character" src="215px-Hans_Moleman.png"></div>
								<div class="draggable"><img class="character" src="220px-Bender_Rodriguez.png"></div>
								<div class="draggable"><img class="character" src="Disco_Stu.png"></div>
							</div>
							<div class="med">
								<div class="draggable"><img class="character" src="Dr._John_A._Zoidberg.png"></div>
								<div class="draggable"><img class="character" src="Lieutenant_Kif_Kroker.png"></div>
								<div class="draggable"><img class="character" src="Mom.png"></div>
							</div>
							<div class="down">
								<div class="draggable"><img class="character" src="PhilipJ.Fry.png"></div>
								<div class="draggable"><img class="character" src="Turanga_Leela.png"></div>
								<div class="draggable"><img class="character" src="Zapp_Brannigan.png"></div>
							</div>		
						</div>
					</li>
					<li>
						<div id="bubblemenu">
							<div class="up">
								<div class="draggable"><img class="bubble" src="1.png"></div>
								<div class="draggable"><img class="bubble" src="2.png"></div>
								<div class="draggable"><img class="bubble" src="3.png"></div>
							</div>
							<div class="med">
								<div class="draggable"><img class="bubble" src="4.png"></div>
								<div class="draggable"><img class="bubble" src="5.png"></div>
								<div class="draggable"><img class="bubble" src="6.png"></div>
							</div>
							<div class="down">
								<div class="draggable"><img class="bubble" src="7.png"></div>
								<div class="draggable"><img class="bubble" src="8.png"></div>
								<div class="draggable"><img class="bubble" src="9.png"></div>
							</div>		
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
