<header><h1>COMICFY! *</h1></header>

<div class="container">
	<div class="row">
		<div id="left" class="col-centered col-lg-4 col-md-3 col-sm-6 col-xs-12">
			<div id="chooseRows">
		    	<label for="rows">Number of rows</label><br>
				<select id="rows" class="form-control">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select><br>
				<button id="submitRows" class="btn btn-primary">Gimme rows!</button>
			</div>
			
			<div id="panelContainer"></div><br>

			<div id="eraser"><img id="remove" src="Privacy-Eraser-Free-logo.png"/></div><br>
			<button id="genComic" class="btn btn-primary">Print Comic!</button>
		</div>

		<div id="page" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<input class="title" placeholder="Write your title here">
			<div id="pageContent"></div>
		</div>

		<div id="right" class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
			<div class="wrapper">
				<ul class="tabs"> 
					<li class="btn-seccion-menu active">
							<div><img class="scene-btn" src="backmenu.png"></div>
					</li>
					<li class="btn-seccion-menu">
							<div><img class="scene-btn" src="charmenu.png"></div>
					</li>
					<li class="btn-seccion-menu">
							<div><img class="scene-btn" src="bubmenu.png"></div>
					</li>
				</ul>
				<ul class="tab__content">	
					<li class="active">
						<div id="scenemenu">
							<div class="up">
								<div class="draggable"><img class="scene" src="vi単eta1.png"></div>
								<div class="draggable"><img class="scene" src="vi単eta2.png"></div>
							</div>
							<div class="med">
								<div class="draggable"><img class="scene" src="vi単eta3.png"></div>
								<div class="draggable"><img class="scene" src="vi単eta4.png"></div>
							</div>	
						</div>
					</li>
					<li>
						<div id="charactermenu">
							<div class="up">
								<div class="draggable"><img class="character" src="culoman.png"></div>
								<div class="draggable"><img class="character" src="jonky.png"></div>
								<div class="draggable"><img class="character" src="pereshosho.png"></div>
							</div>
							<div class="med">
								<div class="draggable"><img class="character" src="pinrel.png"></div>
								<div class="draggable"><img class="character" src="seeh.png"></div>
								<div class="draggable"><img class="character" src="llamanashi.png"></div>
							</div>	
						</div>
					</li>
					<li>
						<div id="bubblemenu">
							<div class="up">
								<div class="draggable"><img class="bubble" src="01.png"></div>
								<div class="draggable"><img class="bubble" src="02.png"></div>
								<div class="draggable"><img class="bubble" src="03.png"></div>
							</div>
							<div class="med">
								<div class="draggable"><img class="bubble" src="04.png"></div>
								<div class="draggable"><img class="bubble" src="05.png"></div>
								<div class="draggable"><img class="bubble" src="06.png"></div>
							</div>
							<div class="down">
								<div class="draggable"><img class="bubble" src="07.png"></div>
								<div class="draggable"><img class="bubble" src="08.png"></div>
								<div class="draggable"><img class="bubble" src="09.png"></div>
							</div>
							<div class="downer">
								<div class="draggable"><img class="bubble" src="10.png"></div>
								<div class="draggable"><img class="bubble" src="11.png"></div>
								<div class="draggable"><img class="bubble" src="12.png"></div>
							</div>		
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>


</div>
