header{
	text-align: center;
	margin-bottom: 50px;
	font-family: titlefont;
}

body {
	background-image: url(/notebook_texture2463.jpg);
	font-family: regularfont;
}

.wrapper{
	width: 350px;
	margin: 0 auto;
}

.tabs {
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.tabs > li {
	transition-duration: .25s;
	display: table-cell;
	list-style: none;
	text-align: center;
	padding: 20px 20px 25px 20px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	color: white;
}
.tabs > li:before {
	z-index: -1;
	position: absolute;
	content: "";
	width: 100%;
	height: 120%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition-duration: .25s;
	border-radius: 5px 5px 0 0;
}
.tabs > li.active {
	color: #50555a;
}
.tabs > li.active:before {
	transition-duration: .5s;
	background-color: #e6e6fa;
	border: 2px solid #6495ed;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.tab__content {
	background-color: white;
	position: relative;
	width: 100%;
	border-radius: 5px;
}
.tab__content > li {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	list-style: none;
}

.btn{
	width: 136px;
}

.form-control{
	width: 136px;
}

#remove{
	height: 40px;
}

.scene-btn{
	width: 50px;
}

.scene {
	width: 144px;
	z-index: 1;
}

.character {
	width: 80px;
	z-index: 2;
}

.bubble {
	width: 80px;
	z-index: 3;
}

.up div, .med div, .down div, .downer div{
	display: inline-block;
}

#scenemenu, #charactermenu, #bubblemenu{
	position: absolute;
	background-color: #e6e6fa;
	border: 2px solid #6495ed;
	border-radius: 5px;
	padding: 10px;
	width: 400px;
	margin-top: -10px;
}

.draggable{
	margin: 10px 20px;
}

#page {
	background-color: white;
	width: 390px;
	height: 551.57px;
}

.title {
	height: 58px;
	width: 100%;
	text-align: center;
	font-size: 30px;
    border: 0px solid;
}

#pageContent {
	height: 493.57px;
	padding-bottom: 5px;
}

.panelRow {
	display: flex;
	justify-content: space-around;
}

.panel {
    border: 1px solid black;
    margin: 0px 2.5px 0px 2.5px;
    flex:1;
    background-position: center center;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.characterClone {
	height: 75%;
 	width: auto;
 	position: absolute;
}

.bubbleClone {
	height: 30%;
	width: auto;
	position: absolute;
}
