header{
	text-align: center;
	margin-bottom: 50px;
}

body {
	background-image: url(/notebook_texture2463.jpg);
}
/*
.container{
	/*width: 100%;
}

/*
#left{
	float: left;
}
*/
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#remove{
	height: 35px;
}

.scene {
	width: 50px;
	z-index: 1;
}

.character {
	width: 50px;
	z-index: 2;
}

.bubble {
	width: 50px;
	z-index: 3;
}

.up div, .med div, .down div {
	display: inline-block;
}

#page {
	/*position: absolute;*/
	background-color: white;
	width: 390px;
	height: 551.57px;
	/*margin-left: 80px;
	/*left: 80px;
	/*top: 32px*/
}

.title {
	height: 70px;
	width: 100%;
	text-align: center;
	font-size: 40px;
    border: 0px solid;
}

#pageContent {
	height: 481.57px;
	padding-bottom: 5px;
}

.panelRow {
	display: flex;
	justify-content: space-around;
}

.panel {
    border: 1px solid black;
    margin: 0px 2.5px 0px 2.5px;
    flex:1;
    background-position: center center;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.characterClone {
	height: 75%;
 	width: auto;
 	position: absolute;
}

.bubbleClone {
	height: 30%;
	width: auto;
	position: absolute;
}
